*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: aliceblue;
}

/* first section */
section.hero{
    border: 1px solid red;
}
section.hero header{
    width: 100%;
    background-color: red;
}
section.hero header nav{
    border: 1px solid rgb(4, 0, 255);
    width: 100%;
}
section.hero header nav .images img{
    width: 20px;
}
section.hero{
    border: 1px solid red;
}
section.hero{
    border: 1px solid red;
}
section.hero{
    border: 1px solid red;
}